<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Basic Contact Info</h2>
		</div>
		<div class="col-xs-6">
			<h1 class="glyphicon glyphicon-envelope" style="color: Red;"></h1> alienonland at gmail dot com
		</div>
		<div class="col-xs-6">
			<h1 class="glyphicon glyphicon-globe" style="color: Blue;"></h1> Hoboken, New Jersey, USA
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Social</h2>
			<p>You can reach me as @alienonland on <a href="http://twitter.com/alienonland" target="blank">Twitter</a>, <a href="http://github.com/alienonland" target="blank">GitHub</a>, and <a href="http://stackoverflow.com/users/107389/alienonland" target="blank">Stack Overflow</a>.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Gaming</h2>
			<p>alienonland on <a href="http://steamcommunity.com/id/alienonland/" target="blank">Steam</a> and Falconus#1728 on <a href="http://us.battle.net/d3/en/profile/Falconus-1728/" target="blank">Battle.net</a>.</p>
		</div>
	</div>
</div>